body{
    background-color: #333333;
    font-family: sans-serif;
    font-size: 20px;
}
.size{
    margin: 20px auto;
    width: 50%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 3px solid black;
    border-radius: 25px;
    text-transform: uppercase;
}
.color1{
    margin-top: 120px;
    background-color: tomato;
}
.color2{
    background-color: royalblue;
}
.color3{
    background-color: tomato;
}
.color4{
    background-color: royalblue;
}
.color5{
    background-color: tomato;
}
.color6{
    background-color: royalblue;
}
.color7{
    background-color: tomato;
}
.color8{
    background-color: royalblue;
}