* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Monrserrat', sans-serif;
    color: #fff;
    background-color: #333;
    font-size: 30px;
    margin: 50px;
  }