// nav ul{
//     list-style:none;

// }
// nav li{
//     color: red;
//     font-size: 30px;
// }

nav{
    ul{
        list-style: none;
    }
    li{
        color: red;
        font-size: 30px;
    }
}